CLERK_PUBLISHABLE_KEY="pk_test_your_publishable_key"
CLERK_SECRET_KEY="sk_test_your_secret_key"
CLERK_WEBHOOK_SIGNING_SECRET="whsec_your_webhook_signing_secret"
DATABASE_URL="postgresql://postgres:your-password-here@localhost:5432/nestjs-template"
FRONTEND_BASE_URL="http://localhost:3001"
PORT=3000
NODE_ENV=development
